<!DOCTYPE html>
<html>
  <head>
    <title>Photon</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./../public/css/photon.css">

    <!-- Electron Javascript -->
    <!--<script src="app.js" charset="utf-8"></script>-->
  </head>

  <body>
    <div class="window">
        <div class="window-content">
          <div class="pane-group">
            <div class="pane-mini sidebar">...</div>
            <div class="pane">...</div>
          </div>
        </div>
      </div>
  </body>
</html>